{% extends 'd_wiki_app/base.html' %}

{% block title %}
Delete Wiki Post: {{entry.wiki_post_subject}}
{% endblock title %}

{% block content %}

<div class="wikipost_main">
    <div class="wiki_post_title">
        {{entry.wiki_post_subject}}
    </div>

    <div class="wiki_post_img">
        {% if entry.wiki_post_image %}
        <img src="{{ entry.wiki_post_image.url }}" width="200"/>
        {% endif %}
    </div>
    <div class="wiki_post_text">
        {{ entry.wiki_post_text }}
    </div>
</div>
<div class="edit_controls">
    {% if user == entry.wiki_post_user %}
    <form method="POST" action='{% url "delete_wiki_entry" entry.pk %}'>
        <input type="submit" value="Delete?"/>
        {% csrf_token %}
    </form>
    <a href="{% url 'delete_wiki_entry' entry.pk %}">Delete Entry</a>
    {% endif %}
</div>

{% endblock content %}