{% extends 'd_wiki_app/base.html' %}


{% block content %}

{% for entry in wiki_entries %}
<div class="wikipost_main">
    <div class="wiki_post_title">
        <a href="{% url 'read_wiki_entry' entry.id %}">{{entry.wiki_post_subject}}</a>
    </div>


    <div class="wiki_post_img">
        {% if entry.wiki_post_image %}

        <img src="{{ entry.wiki_post_image.url }}" width="200"/>
        {% endif %}
    </div>
    <div class="wiki_post_text">
        {{ entry.wiki_post_text }}
    </div>
</div>
<div class="wikipost_item">

</div>
{% endfor %}


{% endblock content %}